extends layout.pug

block content 
  nav.grid-container
    .grid-x.grid-margin-x
      a.cell.auto(href='/') < Home
      a.cell.auto.text-right(href=`/project/${prev}`) < Prev
      a.cell.shrink(href=`/project/${next}`) Next >
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x.grid-margin-x
      .cell.small-12.medium-7

        h1 #{project.project_name}

        p.lead.text-light
          | #{project.description}

      .cell.portfolio-meta.small-12.medium-4
        h6 Technologies & Skills
        ul
          each technology in project.technologies
            li= technology

        a.button.expanded(href=`${project.live_link}` target="_blank" rel="noreferrer") Live
        a.button.expanded(href=`${project.github_link}` target="_blank" rel="noreferrer") GitHub
       
      if project.image_urls.sm
        .phone.cell.small-5.medium-4.medium-offset-1.large-offset-2
          img.content(src=`${project.image_urls.sm}` alt=`${project.image_urls.alt}`)
      if project.image_urls.md
        .tablet.cell.small-7.medium-6
          img.content(src=`${project.image_urls.md}` alt=`${project.image_urls.alt}`)
      .laptop.cell
        img.content(src=`${project.image_urls.lg}` alt=`${project.image_urls.alt}`)
    